# Copyright (c) IBM Corporation 2025
# Apache License, Version 2.0 (see https://opensource.org/licenses/Apache-2.0)

---
# Tasks file for zmf_swupdate_copy play.

# Issue a failure message and stop the playbook if a software instance/system nickname, UUID, or process ID specified.
- name: A software instance and system nickname, a UUID, or a software update process ID must be provided to the role
  ansible.builtin.fail:
    msg: "Specify a software instance and system nickname, a UUID, or a software update process ID and retry the role."
  when: >
    (software_instance_uuid is not defined or software_instance_uuid == '') and (software_instance_name is not defined or software_instance_name == ''
    or system_nickname is not defined or system_nickname == '') and (swupdate_process_id is not defined or swupdate_process_id == '')

# Issue a failure message and stop the playbook if no directory was specified.
- name: Display the Copy software update action failure information if no directory was specified
  ansible.builtin.fail:
    msg: "A directory must be specified to copy a software update.  Specify a valid directory to copy the software update output into and try again."
  when: directory is not defined

# Create a variable for the copy software update response content.
- name: Initialize the container for the copy software update response content
  ansible.builtin.set_fact:
    swupdate_copy_response: ""

# Ensure there is a colon in the host. Add the z/OSMF server port if specified.
- name: "Set the zmf_port if specified"
  ansible.builtin.set_fact:
    zmf_host: '{{ zmf_host }}:{{ zmf_port }}'
  when: zmf_port is defined and ':' not in zmf_host

##########################################################################
# URI MODULE #1: Copy the output files from the software update process. #
##########################################################################

# Wait for the software update process to finish and return a response.
- name: "Copy Software Update by Process ID"
  when: swupdate_process_id is defined
  block:
    # Create a variable for the copy software update response content when a process ID is specified.
    - name: Initialize the container for the copy software update by process ID response content
      ansible.builtin.set_fact:
        swupdate_copy_processid_response: ""

    - name: "Copy the software update output for process ID <{{ swupdate_process_id }}>"
      ansible.builtin.uri:
        url: "https://{{ zmf_host | urlencode }}/zosmf/swmgmt/swupdate/{{ swupdate_process_id | urlencode }}?dir={{ directory | urlencode }}"
        method: PUT
        user: "{{ zmf_user | trim }}"
        password: "{{ zmf_password | trim }}"
        force_basic_auth: true
        headers:
          Host: "{{ zmf_host }}"
          Origin: "https://{{ zmf_host }}"
        status_code: 200, 400, 403, 404, 409, 500, 503
        validate_certs: false
        return_content: true
      register: swupdate_copy_processid_response
      delegate_to: localhost

    - name: "Save copy software update by process ID response"
      ansible.builtin.set_fact:
        swupdate_copy_response: "{{ swupdate_copy_processid_response }}"

# Wait for the software update process to finish and return a response.
- name: "Copy Software Update by Software Instance UUID"
  when: swupdate_process_id is not defined and software_instance_uuid is defined
  block:
    # Create a variable for the copy software update response content when a SWI UUID is specified.
    - name: Initialize the container for the copy software update by software instance UUID response content
      ansible.builtin.set_fact:
        swupdate_copy_uuid_response: ""

    - name: "Copy the software update associated with software instance with UUID <{{ software_instance_uuid }}>"
      ansible.builtin.uri:
        url: "https://{{ zmf_host | urlencode }}/zosmf/swmgmt/swi/{{ software_instance_uuid | urlencode }}/swupdate?dir={{ directory | urlencode }}"
        method: PUT
        user: "{{ zmf_user | trim }}"
        password: "{{ zmf_password | trim }}"
        force_basic_auth: true
        headers:
          Host: "{{ zmf_host }}"
          Origin: "https://{{ zmf_host }}"
        status_code: 200, 400, 403, 404, 409, 500, 503
        validate_certs: false
        return_content: true
      register: swupdate_copy_uuid_response
      delegate_to: localhost

    - name: "Save copy software update by software instance UUID response"
      ansible.builtin.set_fact:
        swupdate_copy_response: "{{ swupdate_copy_uuid_response }}"

# Wait for the software update process to finish and return a response.
- name: "Copy Software Update by Software Instance Name and System"
  when: swupdate_process_id is not defined and software_instance_uuid is not defined and software_instance_name is defined
  block:
    # Create a variable for the copy software update response content when a SWI is specified.
    - name: Initialize the container for the copy software update by software instance name and system response content
      ansible.builtin.set_fact:
        swupdate_copy_swi_response: ""

    - name: "Copy the software update output associated with software instance <{{ software_instance_name }}>"
      ansible.builtin.uri:
        url: "https://{{ zmf_host | urlencode }}/zosmf/swmgmt/swi/{{ system_nickname | urlencode }}/{{ software_instance_name | urlencode }}/swupdate?dir={{ directory | urlencode }}"
        method: PUT
        user: "{{ zmf_user | trim }}"
        password: "{{ zmf_password | trim }}"
        force_basic_auth: true
        headers:
          Host: "{{ zmf_host }}"
          Origin: "https://{{ zmf_host }}"
        status_code: 200, 400, 403, 404, 409, 500, 503
        validate_certs: false
        return_content: true
      register: swupdate_copy_swi_response
      delegate_to: localhost

    - name: "Save copy software update by software instance name and system response"
      ansible.builtin.set_fact:
        swupdate_copy_response: "{{ swupdate_copy_swi_response }}"

# Save the copy software update response in a file.
- name: Write the results for the copy software update to a JSON file
  when: swupdate_copy_response is defined and swupdate_copy_response.status is defined and swupdate_copy_response.status == 200
  block:
    # Perform the copy of the copy software update response to the file.
    - name: "Copy the software update results to JSON file <{{ swupdate_copy_response_file }}>"
      ansible.builtin.copy:
        content: '{{ swupdate_copy_response.json | default("") | to_nice_json(indent=2) }}'
        dest: '{{ swupdate_copy_response_file }}'
        mode: '0644'
      delegate_to: localhost

    # Save the response content into a local variable.
    - name: Create a variable to hold the value of the copy software update results
      ansible.builtin.set_fact:
        swupdate_copy_response_json: "{{ swupdate_copy_response.json }}"

    # Show the path to the copy software update status REST API results file.
    - name: Display the path to the file containing the results from the copy software update operation
      ansible.builtin.debug:
        msg: "Output filename= {{ swupdate_copy_response_file }}"

# Issue a failure message when user does not have the APAR with the SWU APIs installed on their system.
- name: Display Copy Software Update REST API failure information
  ansible.builtin.fail:
    msg: "There was an error encountered during Copy Software Update REST API execution. It's possible the host
      system is missing required APAR PH62240 which contains the software update REST APIs. Otherwise the
      specified software instance or software update process was not found. These are the failure
      details: {{ swupdate_copy_response.json }}"
  when: swupdate_copy_response.status == 404 and swupdate_copy_response.json is defined

# Issue a failure message when user does not have the APAR with the SWU APIs installed on their system.
- name: Display Copy Software Update REST API failure information
  ansible.builtin.fail:
    msg: "There was an error encountered during Copy Software Update REST API execution. It's possible the host
      system is missing required APAR PH62240 which contains the software update REST APIs. Otherwise the
      specified software instance or software update process was not found. These are the failure
      details: {{ swupdate_copy_response }}"
  when: swupdate_copy_response.status == 404

# Issue a failure message when user does not have the appropriate authority.
- name: The user does not have the appropriate authority to complete this request
  ansible.builtin.fail:
    msg: "Copy Software Update failure details: {{ swupdate_copy_response.json }} "
  when: swupdate_copy_response.status == 403 and swupdate_copy_response.json is defined

# Issue a failure message and stop the playbook.
- name: Display the copy software update action failure information
  ansible.builtin.fail:
    msg: "Copy Software Update failure details: {{ swupdate_copy_response.json }} "
  when: swupdate_copy_response.status != 200 and swupdate_copy_response.json is defined

# Issue a failure message and stop the playbook.
- name: Display the copy software update action failure information
  ansible.builtin.fail:
    msg: "Copy Software Update failure details: {{ swupdate_copy_response }} "
  when: swupdate_copy_response.status != 200
