# Copyright (c) IBM Corporation 2025
# Apache License, Version 2.0 (see https://opensource.org/licenses/Apache-2.0)

---
# Tasks file for zmf_swupdate_resume play.

# Do not attempt to execute the play without a software instance/system nickname, UUID, or process ID specified.
- name: A software instance and system nickname, a UUID, or a software update process ID must be provided to the role
  ansible.builtin.fail:
    msg: "Specify a software instance and system nickname, a UUID, or a software update process ID and retry the role."
  when: >
    (software_instance_uuid is not defined or software_instance_uuid == '') and
    (software_instance_name is not defined or software_instance_name == '' or
    system_nickname is not defined or system_nickname == '') and
    (swupdate_process_id is not defined or swupdate_process_id == '')

# Create a variable for the resume software update response content.
- name: Initialize the container for the resume software update response content
  ansible.builtin.set_fact:
    swupdate_resume_response: ""

# Set comma variable to empty string to use for first variable added to request content.
- name: "Create comma variable"
  ansible.builtin.set_fact:
    comma: ''

# Add the opening curly brace around the request content JSON.
- name: "Adding opening curly brace for the JSON request content body"
  ansible.builtin.set_fact:
    swupdate_resume_request_body: '{'

# Add suspend steps to the JSON request body if specified.
- name: "Adding suspend steps in the request content body"
  ansible.builtin.set_fact:
    swupdate_resume_request_body: '{{ swupdate_resume_request_body }}{{ comma }}"suspend-steps": {{ suspend_steps }}'
    comma: ','
  when: suspend_steps is defined

# Add exclude updates to the JSON request body if specified.
- name: "Adding exclude updates in the request content body"
  ansible.builtin.set_fact:
    swupdate_resume_request_body: '{{ swupdate_resume_request_body }}{{ comma }}"exclude-updates": {{ exclude_updates }}'
    comma: ','
  when: exclude_updates is defined

# Add resolove holds to the JSON request body if specified.
- name: "Adding resolve holds in the request content body"
  ansible.builtin.set_fact:
    swupdate_resume_request_body: '{{ swupdate_resume_request_body }}{{ comma }}"resolve-holds": {{ resolve_holds }}'
    comma: ','
  when: resolve_holds is defined

# Add smpeuserid to the JSON request body if specified.
- name: "Adding SMP/E userid in the request content body"
  ansible.builtin.set_fact:
    swupdate_resume_request_body: '{{ swupdate_resume_request_body }}{{ comma }}"smpe-userid": "{{ smpe_userid }}"'
    comma: ','
  when: smpe_userid is defined

# Add notes to the JSON request body if specified.
- name: "Adding notes in the request content body"
  ansible.builtin.set_fact:
    swupdate_resume_request_body: '{{ swupdate_resume_request_body }}{{ comma }}"notes": "{{ notes }}"'
    comma: ','
  when: notes is defined

# Add zosmfuid to the JSON request body if specified.
- name: "Adding zosmfuid in the request content body"
  ansible.builtin.set_fact:
    swupdate_resume_request_body: '{{ swupdate_resume_request_body }}{{ comma }}"zosmfuid": "{{ remote_zmf_user }}"'
    comma: ','
  when: remote_zmf_user is defined

# Add zosmfpw to the JSON request body if specified.
- name: "Adding zosmfpw in the request content body"
  ansible.builtin.set_fact:
    swupdate_resume_request_body: '{{ swupdate_resume_request_body }}{{ comma }}"zosmfpw": "{{ remote_zmf_password }}"'
    comma: ','
  when: remote_zmf_password is defined

# Add proxyuid to the JSON request body if specified.
- name: "Adding proxyuid in the request content body"
  ansible.builtin.set_fact:
    swupdate_resume_request_body: '{{ swupdate_resume_request_body }}{{ comma }}"proxyuid": "{{ proxy_zmf_user }}"'
    comma: ','
  when: proxy_zmf_user is defined

# Add proxypw to the JSON request body if specified.
- name: "Adding proxypw in the request content body"
  ansible.builtin.set_fact:
    swupdate_resume_request_body: '{{ swupdate_resume_request_body }}{{ comma }}"proxypw": "{{ proxy_zmf_password }}"'
  when: proxy_zmf_password is defined

# Add the ending curly brace around the request content JSON.
- name: "Adding ending curly brace for the JSON request content body"
  ansible.builtin.set_fact:
    swupdate_resume_request_body: '{{ swupdate_resume_request_body }}}'

# Ensure there is a colon in the host. Add the z/OSMF server port if specified.
- name: "Set the zmf_port if specified"
  ansible.builtin.set_fact:
    zmf_host: '{{ zmf_host }}:{{ zmf_port }}'
  when: zmf_port is defined and ':' not in zmf_host

##########################################################################################
# URI MODULE #1: Resume a software update for a software instance.                       #
##########################################################################################

# Resume the software update operation.
- name: "Resume Software Update by Process ID"
  when: swupdate_process_id is defined
  block:
    # Create a variable for the resume software update response content.
    - name: Initialize the container for the resume software update by process ID response content
      ansible.builtin.set_fact:
        swupdate_resume_processid_response: ""

    - name: "Resume the software update process with ID <{{ swupdate_process_id }}>"
      ansible.builtin.uri:
        url: "https://{{ zmf_host | urlencode }}/zosmf/swmgmt/swupdate/resume/{{ swupdate_process_id | urlencode }}"
        return_content: true
        user: "{{ zmf_user | trim }}"
        password: "{{ zmf_password | trim }}"
        force_basic_auth: true
        headers:
          Host: "{{ zmf_host }}"
          Origin: "https://{{ zmf_host }}"
        method: POST
        status_code: 202, 400, 403, 404, 409, 500, 503
        validate_certs: false
        body_format: json
        body: "{{ swupdate_resume_request_body }}"
      delegate_to: localhost
      register: swupdate_resume_processid_response

    - name: "Save resume software update by process ID response"
      ansible.builtin.set_fact:
        swupdate_resume_response: "{{ swupdate_resume_processid_response }}"

# Resume the software update operation.
- name: "Resume Software Update by Software Instance UUID"
  when: swupdate_process_id is not defined and software_instance_uuid is defined
  block:
    # Create a variable for the resume software update response content.
    - name: Initialize the container for the resume software update by software instance UUID response content
      ansible.builtin.set_fact:
        swupdate_resume_uuid_response: ""

    - name: "Resume the software update for software instance with UUID <{{ software_instance_uuid }}>"
      ansible.builtin.uri:
        url: "https://{{ zmf_host | urlencode }}/zosmf/swmgmt/swi/{{ software_instance_uuid | urlencode }}/swupdate/resume"
        return_content: true
        user: "{{ zmf_user | trim }}"
        password: "{{ zmf_password | trim }}"
        force_basic_auth: true
        headers:
          Host: "{{ zmf_host }}"
          Origin: "https://{{ zmf_host }}"
        method: POST
        status_code: 202, 400, 403, 404, 409, 500, 503
        validate_certs: false
        body_format: json
        body: "{{ swupdate_resume_request_body }}"
      delegate_to: localhost
      register: swupdate_resume_uuid_response

    - name: "Save resume software update by software instance UUID response"
      ansible.builtin.set_fact:
        swupdate_resume_response: "{{ swupdate_resume_uuid_response }}"

# Resume the software update operation.
- name: "Resume Software Update by Software Instance Name and System"
  when: swupdate_process_id is not defined and software_instance_uuid is not defined and software_instance_name is defined
  block:
    # Create a variable for the resume software update response content.
    - name: Initialize the container for the resume software update by software instance name and system response content
      ansible.builtin.set_fact:
        swupdate_resume_swi_response: ""

    - name: "Resume the software update for software instance <{{ software_instance_name }}>"
      ansible.builtin.uri:
        url: "https://{{ zmf_host | urlencode }}/zosmf/swmgmt/swi/{{ system_nickname | urlencode }}/{{ software_instance_name | urlencode }}/swupdate/resume"
        return_content: true
        user: "{{ zmf_user | trim }}"
        password: "{{ zmf_password | trim }}"
        force_basic_auth: true
        headers:
          Host: "{{ zmf_host }}"
          Origin: "https://{{ zmf_host }}"
        method: POST
        status_code: 202, 400, 403, 404, 409, 500, 503
        validate_certs: false
        body_format: json
        body: "{{ swupdate_resume_request_body }}"
      delegate_to: localhost
      register: swupdate_resume_swi_response

    - name: "Save resume software update by software instance name and system response"
      ansible.builtin.set_fact:
        swupdate_resume_response: "{{ swupdate_resume_swi_response }}"

# Create a variable for the software update process ID.
- name: Set the software update process ID
  ansible.builtin.set_fact:
    swupdate_process_id: "{{ swupdate_resume_response.json['processid'] }}"
  when: swupdate_resume_response.status == 202

# Issue a failure message when user does not have the APAR with the SWU APIs installed on their system.
- name: Display Resume Software Update REST API failure information
  ansible.builtin.fail:
    msg: "There was an error encountered during Resume Software Update REST API execution. It's possible the host
      system is missing required APAR PH62240 which contains the software update REST APIs. Otherwise the
      specified software instance or software update process was not found. These are the failure
      details: {{ swupdate_resume_response.json }}"
  when: swupdate_resume_response.status == 404 and swupdate_resume_response.json is defined

# Issue a failure message when user does not have the APAR with the SWU APIs installed on their system.
- name: Display Resume Software Update REST API failure information
  ansible.builtin.fail:
    msg: "There was an error encountered during Resume Software Update REST API execution. It's possible the host
      system is missing required APAR PH62240 which contains the software update REST APIs. Otherwise the
      specified software instance or software update process was not found. These are the failure
      details: {{ swupdate_resume_response }}"
  when: swupdate_resume_response.status == 404

# Issue a failure message when user does not have the appropriate authority.
- name: The user does not have the appropriate authority to complete this request
  ansible.builtin.fail:
    msg: "Resume Software Update failure details: {{ swupdate_resume_response.json }} "
  when: swupdate_resume_response.status == 403 and swupdate_resume_response.json is defined

# Issue a failure message and stop the playbook.
- name: Display the resume software update action failure information
  ansible.builtin.fail:
    msg: "Resume Software Update failure details: {{ swupdate_resume_response.json }} "
  when: swupdate_resume_response.status != 202 and swupdate_resume_response.json is defined

# Issue a failure message and stop the playbook.
- name: Display the resume software update action failure information
  ansible.builtin.fail:
    msg: "Resume Software Update failure details: {{ swupdate_resume_response }} "
  when: swupdate_resume_response.status != 202
